---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import cervezasPageHero from '../assets/cervezasPageHero.jpg'
import fetchApi from "../lib/strapi";
import type CervezaProps from "../interfaces/cerveza";

const cerveza = await fetchApi<CervezaProps[]>({
	endpoint:'cervezas?populate=*',
	wrappedByKey: 'data',
});
---

<Layout title="Indie Beer">
  <main>
    <!-- Hero Section -->
     <section class="relative h-[30rem] text-white overflow-hidden">
      <div class="absolute -translate-y-20">
        <Image src={cervezasPageHero} alt="Hero" width={1920} class="object-cover object-center w-full h-full"/>
        <div class="absolute inset-0 bg-black opacity-[0.5]"></div>
      </div>
      <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
        <h1 class="text-8xl leading-tight">Cervezas</h1>
      </div>
     </section>

     <!-- Products Section -->
      <section class="mt-16">
        <h2 class="text-center mb-4 text-4xl tracking-tight font-extrabold text-white ">Checa nuestras cheves recien llegadas</h2>
        <div>
          <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-16 lg:max-w-7xl lg:px-8">
            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
              {cerveza
                .map((cerveza) =>(
                  <a href={`/cerveza/${cerveza.attributes.Slug}`} class="group">
                    <div class="cursor-pointer aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7 hover:scale-[1.02] duration-300">
                      <img 
                        class="h-[30rem] w-full object-cover object-center"
                        src={`${cerveza.attributes.Cerveza.data.attributes.formats.large.url}`}
                        alt="cheve"
                        loading="lazy"
                      />
                    </div>
                    <p class="mt-3 text-sm text-white">
                      {cerveza.attributes.Estilo}
                    </p>
                    <div class="flex flex-row gap-8 justify-between">
                      <h3 class="mt-1 text-xl font-medium text-white">
                        {cerveza.attributes.Nombre}
                      </h3>
                      <h3 class="mt-1 text-xl font-medium text-white">
                        ${cerveza.attributes.Precio}
                      </h3>
                    </div>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </section>
  </main>
</Layout>

<style>
  h1 {
    font-family: 'BrannbollConnect', sans-serif;
  }
</style>
