---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import menuPageHero from '../assets/menuPageHero.jpg'
import fetchApi from "../lib/strapi";
import type MenuProps from "../interfaces/menu";

const menu = await fetchApi<MenuProps[]>({
	endpoint:'menus?populate=*',
	wrappedByKey: 'data',
});

function compararPorId(a: { id: number; }, b: { id: number; }) {
    return a.id - b.id;
}
---

<Layout title="Indie Beer">
  <main>
    <!-- Hero Section -->
     <section class="relative h-[30rem] text-white overflow-hidden">
      <div class="absolute -translate-y-20">
        <Image src={menuPageHero} alt="Hero" width={1920} class="object-cover object-center w-full h-full"/>
        <div class="absolute inset-0 bg-black opacity-[0.5]"></div>
      </div>
      <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
        <h1 class="text-8xl leading-tight">Menu</h1>
      </div>
     </section>

     <!-- Menu Section -->
      <section class="mt-16 text-white">
        <h2 class="text-center mb-12 text-5xl tracking-tight font-extrabold ">¿Que te vas a pedir?</h2>            
        <div class="text-center text-4xl font-extrabold mb-8">Los favoritos de la raza</div>
        <div class="flex flex-row items-center justify-center gap-8 mb-[14rem]">
          {menu
            .filter(function(menu) {
              return "Favorito".includes(menu.attributes.Categoria)
            })
            .map((menu) => (
              <div class="relative w-64 h-64">
                <img 
                  src={`${menu.attributes.Foto.data.attributes.formats.large.url}`} 
                  alt="fav img" 
                  class="rounded-full object-cover w-full h-full mb-4 border-white border-4"
                />
                <div class="h-[7.5rem]">
                  <h3 class="flex justify-center text-2xl font-medium text-white text-center mt-">{menu.attributes.Platillo}</h3>
                  <p class="mt-1 flex justify-center text-center text-base">{menu.attributes.Descripcion}</p>
                </div>
                <hr class="mt-4 h-[0.1rem] border-t-0 bg-white"/>
                <h3 class="flex justify-center text-2xl font-medium text-white text-center mt-2">${menu.attributes.Precio}</h3>
              </div>
            ))
          }
        </div>

        <section class="flex items-start mx-40 mt-[11rem]">
          <div class="grid grid-cols-4">
            <div class="col-span-2">
              <h2 class="text-center mb-8 text-4xl tracking-tight font-extrabold ">A la plancha</h2>   
              {menu
                .filter(function(menu) {
                    return "Plancha".includes(menu.attributes.Categoria)
                })
                .sort(compararPorId)
                .map((menu) => (
                  <div class="flex flex-row mb-4 justify-center">
                    <div class="w-[30rem]">
                      <div class=" flex flex-row justify-between gap-16">
                        <h3 class="text-2xl font-medium text-white">
                          {menu.attributes.Platillo}
                        </h3>
                        <h3 class="text-2xl font-medium text-white">
                          ${menu.attributes.Precio}
                        </h3>
                      </div>
                      <p class="text-sm w-[25rem]">
                        {menu.attributes.Descripcion}
                      </p> 
                    </div>
                  </div>
                ))
              }       
            </div>

            <div class="col-span-2">
              <h2 class="text-center mb-8 text-4xl tracking-tight font-extrabold ">Snacks</h2>            
              <div class="grid grid-cols-2 gap-4">
                {menu
                  .filter(function(menu) {
                    return "Snacks".includes(menu.attributes.Categoria)
                  })
                  .sort(compararPorId)
                  .map((menu) =>(
                    <div class="flex flex-row">
                      <div class="w-full">
                        <div class=" flex flex-row justify-between gap-12">
                          <h3 class="font-medium text-lg text-white w-full">
                            {menu.attributes.Platillo}
                          </h3>
                          <h3 class="font-medium text-white">
                            ${menu.attributes.Precio}
                          </h3>
                        </div>
                        <p class="h-[2.5rem] text-sm">
                          {menu.attributes.Descripcion}
                        </p> 
                        <hr class="mt-2 h-[0.1rem] border-t-0 bg-white"/>
                      </div>
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </section>

      </section>
  </main>
</Layout>

<style>
  h1 {
    font-family: 'BrannbollConnect', sans-serif;
  }
</style>
